td,tr{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
}

td{
    box-shadow: 0px 3px 2px rgb(93, 130, 149);
}

#bg{
    background-color: #9cd2ea;
    width:300px;
    padding:2px 2px 2px 2px;
}

.num{
    background-color:white;
    color:gray;
}

.c{
    background-color: #ffa0ab;
    color:white;
    box-shadow: 0px 3px 2px rgb(252, 122, 132);
}

.disp{
    background-color: #7da7bd;
    box-shadow: 0px -3px 2px rgb(93, 130, 149);
}

.one{
    background-color: #9d8bf9;
    box-shadow: 0px 3px 2px rgb(104, 85, 210); 
    color:white;
}

.sym{
    background-color: #fff1f1;    
}

.equ{
    background-color: #f0ff96;
    box-shadow: 0px 3px 2px rgb(161, 166, 86) ;
}

.disp:hover{
    background-color: #4799c5;
}

.num:hover{
    background-color:rgb(235, 232, 232);
    
}

.c:hover{
    background-color: #ffe0e4;
    
}

.one:hover{
    background-color: #d3cbff;
  
}

.sym:hover{
    background-color: #ecd4d4;    
}

.equ:hover{
    background-color: #ddf363;

}